<div class="card">
    <div class="card-body">
        <h6>Choose a List</h6>
        <div class="navbar justify-content-center">
            <a href="/list1" class="nav-link"><button class="btn btn-outline-secondary">List 1</button></a>
            <a href="/list2" class="nav-link"><button class="btn btn-outline-secondary">List 2</button></a>
        </div>
    </div>
</div>