<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <div class="row text-center mx-5">
        <div class="col justify-content-center">
            <%- include('partials/nav.ejs') %>
        </div>
    </div>

    <%- include('partials/pageend.ejs') %>

</body>

</html>